.tree-list {
    padding: 10px;
    margin: 2px;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    align-items: start;
  .section-field {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
  }
}

.field-sections {
  padding: 7px 0px;
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
  background: whitesmoke;
  .ul {
    list-style-type: none;
    flex-flow: column;
    display: inline-flex;
    align-items: start;
    margin: 5px 0px;
    li {
      display: inline-flex;
      align-content: flex-start;
      &:first-child {
        margin-top: 5px;
      }
    }
  }
}


