.search-tree-list {
  display: inline-flex;
  align-self: center;
  flex-basis: 100%;
  padding: 2px 0px;
  margin-bottom: 10px;
  justify-content: center;
  .search {
    width: 75%;
    border: none;
    border-bottom: 3px solid teal;
    outline: none;
  }
}